/*sort by beautify*/

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GyeonggiBatang';
    font-weight: 600;
}

::selection {
    color: #EA4D0F;
     !important;
    background-color: #DCD8D2 !important;
}

html {
    background-color: #ff6600;
}

body {
    height: auto !important;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 102, 0, 1) 100%);
    font-weight: 600;
}

header .row > div:nth-child(1) > a {
    display: block;
    width: 200px;
    height: 50px;
    background: url(logo1.png) no-repeat;
    background-size: auto 50px;
}

header .row > div:nth-child(1) > a > img {
    display: none;
}

header #right-search-form > input[type='text'] {
    border: 3px solid #ff9966;
    transition: .25s;
}

header #right-search-form > input[type='text']:hover,
header #right-search-form > input[type='text']:focus {
    transform: scale(1.05);
    transition: .25s;
}

/* 검색 버튼 */
header #right-search-form > #right-search-btn {
    color: #ff6666;
    transition: .25s;
}

header #right-search-form > #right-search-btn:hover,
header #right-search-form > #right-search-btn:focus {
    transform: scale(1.2);
    transition: .25s;
}

header #header-bar > .row {
    border: 0px;
    border-radius: 10px 0px 10px 0px;
    background: #ff995675;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

header #header-bar #header-top-notice strong.notice-badge {
    background: #ff6600;
}

#board-info #viewers-area #viewers:before {
    content: "나이키 덕후 ";
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: " 명 접속중";
    cursor: text;

}

#board-info #viewers-area .fa-user:before {
    display: none;
}

#main .menu-wrapper {
    border-radius: 10px 0px 10px 0px;
}

#main .menu-wrapper > .header {
    background: #ff9966;
    border-radius: 10px 0px 0px 0px;
}

#main .menu-wrapper {
    border: 0px;
}

#main .menu-wrapper .spacer {
    background: rgba(0, 0, 0, 0);
}

#main .menu-wrapper > a {
    padding: 0.4em 1.4em 0.4em 0.7em;
}

#main .menu-wrapper > a > em {
    color: #ff9966;
}

#main .menu-wrapper > a > i.fa.fa-square {
    color: #ff9966;
}

#article-list #article-list-category {
    border-top: 0px solid #ff9966;
    border-bottom: 2px solid #ff9966;
    background: #fff;
    height: 40px;
}

#article-list #article-list-category > a {
    background: #ffe1c8;
    border-radius: 5px;
    margin-right: 5px;
    transition: background 1s;
}

#article-list #article-list-category > a:hover {
    background: #ff6600;
}

#article-list #article-option-area > #article-option-area-toggle-btn {
    background: #ffffff;
}

#article-list #article-option-area > #article-option-area-toggle-btn {
    height: 10px;
}

#main #main-content > div.frame {
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

/*글쓰기*/
#article-content-wrapper > .header {
    border-bottom: 2px solid #ff9966;
    border-top: 0px;
}

#article-reply-area > .header h5 {
    color: #ff9966;
}

.btn-outline-success {
    color: #ff9966;
    border-color: #ff9966;
    transition: all 0.5s;
}

.btn-outline-success:hover {
    color: #ffffff;
    background-color: #ff9966;
}

/*글쓰기 페이지*/

.fr-toolbar {
    border-top: 5px solid #ff9966;
}

/*리스트 */

#article-list > .article-list-row > .item > .list-header.v0 > span {
    background-color: #ff9900;
}
